/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

:root {
    --ion-color-primary: hotpink;
    /* Change the primary color to red (for icons and buttons) */
    --ion-color-primary-rgb: 255, 87, 51;
    /* RGB version of the primary color */
    --ion-color-primary-contrast: #ffffff;
    /* Text color for primary elements */
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    /* RGB version of the primary contrast color */

    /* You can also customize other colors like secondary, success, danger, etc. */
    --ion-color-secondary: #0cd1e8;
    /* Customize secondary color */
    --ion-color-tertiary: #7044ff;
}

body, html, ion-app, ion-content, ion-page, .ion-page, .md, .ios {
    font-family: 'Montserrat', sans-serif;
}

.logo-text {
    font-family: "Lobster", sans-serif;
    font-size: 24px;
}

.camera-button,
.settings-save-button {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-primary-contrast);
    --border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    width: 100%;
    margin-top: 8px;
    text-transform: none;
}

.ar-camera-button {
    --background: var(--ion-color-tertiary);
    --color: var(--ion-color-primary-contrast);
    --border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    width: 100%;
    margin-top: 8px;
    text-transform: none;
}